@charset "UTF-8";
#chatplusview div, #chatplusview span, #chatplusview applet, #chatplusview object, #chatplusview iframe, #chatplusview
h1, #chatplusview h2, #chatplusview h3, #chatplusview h4, #chatplusview h5, #chatplusview h6, #chatplusview p, #chatplusview blockquote, #chatplusview pre, #chatplusview
a, #chatplusview abbr, #chatplusview acronym, #chatplusview address, #chatplusview big, #chatplusview cite, #chatplusview code, #chatplusview
del, #chatplusview dfn, #chatplusview em, #chatplusview font, #chatplusview ins, #chatplusview kbd, #chatplusview q, #chatplusview s, #chatplusview samp, #chatplusview
small, #chatplusview strike, #chatplusview strong, #chatplusview sub, #chatplusview sup, #chatplusview tt, #chatplusview var, #chatplusview
dl, #chatplusview dt, #chatplusview dd, #chatplusview ol, #chatplusview ul, #chatplusview li, #chatplusview
fieldset, #chatplusview form, #chatplusview label, #chatplusview legend, #chatplusview
table, #chatplusview caption, #chatplusview tbody, #chatplusview tfoot, #chatplusview thead, #chatplusview tr, #chatplusview th, #chatplusview td, #chatplusview input, #chatplusview textarea {
        font-family: "Hiragino Kaku Gothic ProN","メイリオ",Helvetica,Arial,sans-serif;
        font-size: 14px;
	text-align:left;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight:normal;
	text-indent:0;
	text-align:start;
	letter-spacing:normal;
	line-height:normal;
	text-decoration:none;
	margin:0;
	padding:0;
	float:none;
	direction:normal;
	width:auto;
	max-width:none;
	min-width:0;
	height:auto;
	max-height:none;
	min-height:0;
	word-spacing:normal;
	vertical-align:baseline;
	background: transparent;
	top: unset; left: unset; right: unset; bottom: unset;
	border: none;
	box-shadow: none;
	text-shadow: none;
	position: static;
}
#chatplusview li {
	display: list-item;
}
#chatplusview img {
	pointer-events: auto;
}

#chatplusview input[type='radio'] + label::before,
#chatplusview input[type='checkbox'] + label::before,
#chatplusview input[type='radio']:checked + label::after,
#chatplusview input[type='checkbox']:checked + label::after {
	display: none;
	border: none;
}


#chatplusview .title {
	background:none;
}

#chatplusview *::before,
#chatplusview *::after {
    position: static;
}
#chatplusview button::before,
#chatplusview button::after {
    display: inline;
    content: normal;
    border: none;
}
#chatplusview #chatplusheader a::before,
#chatplusview #chatplusheader a::after {
    display: inline;
    content:normal;
}
#chatplusview form *:not(.fa)::before,
#chatplusview form *:not(.fa)::after,
#chatplusview #chatplusfooter *:not(.fa)::before,
#chatplusview #chatplusfooter *:not(.fa)::after {
    content:normal;
}
#chatplusview form #textarea .fa.fa-paperclip::before {
    content: "\f0c6";
}
#chatplusview form .fa.fa-phone::before {
    content: "\f095";
}

#chatplusview h1, #chatplusview h2{
    font-weight:normal;
    margin:0;
    padding:0;
    font-size:100%;
    line-height:1;
    background-color:none;
}
#chatplusview textarea {
    background-color: #fff;
}

#chatplusview span {
    display: inline;
}
#chatplusview a {
	display: inline;
	color: #337ab7;
	text-decoration:none;
}
#chatplusview label {
    display: inline-block;
    max-width: 100%;
    padding:0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size:14px;
}
#chatplusview .col-sm-4,
#chatplusview .col-sm-8 {
    position: relative;
    min-height: 1px;
}
#chatplusview .form-horizontal #chatplusview .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
#chatplusview p,
#chatplusview #outline #chatpluscontent form#chattext {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1em;
}
#chatplusview #outline #chatpluscontent form#chattext.cp-hide {
    display:none;
}
#chatplusview p > a {
    font-size: inherit;
}

#chatplusview button, #chatplusview input, #chatplusview select, #chatplusview textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: static;
}
#chatplusview button {
    overflow: visible;
}
#chatplusview button, #chatplusview select {
    text-transform: none;
}
#chatplusview button, #chatplusview html input[type=button], #chatplusview input[type=reset], #chatplusview input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
#chatplusview .btn {
    display: inline-block;
    padding: 6px 6px;
    margin-bottom: 0;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow:none;
}
#chatplusview .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#chatplusview .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
#chatplusview .btn-block {
    display: block;
    width: 100%;
}
#chatplusview .btn-primary {
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}
#chatplusview .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#chatplusview input {-webkit-appearance: textfield;}
#chatplusview input[type="checkbox" i] {-webkit-appearance: checkbox;}
#chatplusview input[type="radio" i] {-webkit-appearance: radio;}
#chatplusview textarea {-webkit-appearance: textarea;}
#chatplusview select {-webkit-appearance: menulist;}


#chatplusview.chatplusview-app,
#chatplusview.chatplusview-basic {
	width:410px;
}
#chatplusview.chatplusview-mini {
	font-size:12px;
	width:300px;
}

#chatplusview,
#chatplusview #outline,
#chatplusview #outline #chatpluscontent {
	max-height: 100%;
	max-height: 100vh;
}

#chatplusview .form-group {
    margin-bottom: 12px !important;
}

#chatplusview .form-horizontal .form-group:after, #chatplusview .form-horizontal .form-group:before {
    display: table;
    content: " ";
}

#chatplusview .form-horizontal .form-group:after {
	clear:both;
}
