@charset "utf-8";
body {
	background-color:#eae8e1;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",Helvetica,Arial,sans-serif;
}

#tos {
	margin-top:10px;
	text-align:center;
	font-size:12px;
}

#form-signin h2 {
	text-align:center;
	padding:10px 0 30px 0;
}
/*
#form-signin input {
	margin-bottom:20px;
}
*/

#form-signin ul {
	margin:0;
	padding:0;
	margin-top:15px;
}

#form-signin ul li {
	line-height:1.8;
	margin:0;
	padding:0;
	list-style:none;
}

#form-signin button {
	background-color:#027c96 !important;
	background-image:none !important;
}

#login_container,
#signup_container,
#setup_container,
#rating_container {
    margin: 60px auto;
    width: 420px;
    padding: 40px 60px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
#form-signin button:hover {
	filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
	color:#fff !important;
}

#form-signin nav {
	margin-bottom:30px;
}

#signup_container {
    width: 540px;
	min-height:670px;
}
#signup_container h2{
	text-align:center;
	padding-bottom:20px;
}

#setup_container {
    width: 740px;
}

#signup_container h3,
#setup_container h3{
	font-size:18px;
	padding-bottom:15px;
}

#signup_container .signup-btn {
	text-align:center;
	position:relative;
	padding:0 70px;
	padding-top:20px;
}
#signup_container #loader{
	position:absolute;
	top:0px;
	left:180px;
	display:none;
}

#step_container {
    margin: 60px auto;
    width: 900px;
	min-height:670px;
    padding: 40px 60px;
    background-color: #fff;
	position:relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
#step_container h2{
	text-align:center;
	padding-bottom:20px;
}
#step_container h3{
	font-size:22px;
	padding-bottom:15px;
}
#step_container h4{
	font-weight:bold;
}
#step_container h4 i{
	color:#03c1ea;
	margin-right:3px;
}
#step_container p{
	font-size:16px;
}
#step_container .next-btn {
	text-align:center;
	position:relative;
	padding:0 30%;
	padding-top:30px;
}

#step_container .step-regist {
	margin-bottom:40px;
}

#step_container .step-regist table {
    width: 100%;
}

#step_container .step-regist table tr{
    border-bottom: 1px solid #d0d0d0;
}

#step_container .step-regist table th,
#step_container .step-regist table td {
    vertical-align: top;
    padding:8px 14px;
}
#step_container .step-regist table th {
    vertical-align: top;
    padding:8px 18px;
}

#step_container .step-regist .form-control[readonly] {
    background-color: #f6f6f6;
    opacity: 1;
}

#step_container .step-regist table .group-name {
    margin-left: 25px;
    color: #666;
    padding: 10px;
    font-size: 14px;
}
#step_container .step-regist .form-group {
	margin:0 !important;
}

#step_container .step-regist .help-block {
	margin-bottom:0 !important;
}

#rating_container {
    width: 540px;
}
#rating_container h3{
	text-align:center;	
}
#rating_container p{
	margin-top:30px;
	text-align:center;	
	font-size:16px;
}

.form-control {
	height:40px;
}

.control-label {
	color:#666;
}
.required {
	color:#D21717;
}
ul.list-unstyled {
	padding:0 !important;
	margin-top:0 !important;
	font-size:14px;
}
.form-group {
	margin-bottom:20px;
}

.btn {
	color:#fff;
}

#step_container .windows {
	margin:30px 0;
	overflow:hidden;
}

#step_container .screenshot {
    float: left;
}

#step_container .options {
    overflow: hidden;
    padding: 0px 20px;
}

#step_container .windows .btn_container {
    margin: 40px 0 10px 0;
    margin-bottom: 5px;
    list-style: disc inside;
    line-height: 21px;
}

#step_container .windows .other-apps {
    margin-top: 40px;
    font-size: 8px;
    line-height: 18px;
    color: #999;
}

#step_container .options ul {
    margin: -15px 0 20px 20px;
    list-style: disc inside;
    line-height: 21px;
}
#step_container .options.design ul {
    margin: 0 0 20px 20px;
    list-style: disc inside;
    line-height: 21px;
}
#step_container .options.design ul li{
    margin-bottom:30px;
}
#step_container .options.design dt{
    font-weight:normal;
}
.colorpicker:before {
    display:none !important;
}

.cd-multi-steps.text-bottom li {
    width: 140px;
    text-align: center;
}





.settings-window-preview {
	position:relative;
    width: 435px;
    float: left;
}
.settings-window-preview .iframe {
    clear: both;
    width: 435px;
}
.settings-window-preview .iframe.sp {
	background:url(../img/smartphone.png);
	background-size:384px 670px;
	background-repeat:no-repeat;
    height: 670px;
}
.settings-window-preview .iframe iframe{
    width: 435px;
    height: 465px;
	overflow:hidden;
        border: 1px solid #ddd;
}
.settings-window-preview .iframe.sp iframe{
	width: 310px;
    position: absolute;
    bottom: 12px;
    left: 40px;
}
